<!-- Footer -->
<footer class="wrapper style1 align-center">
    <div class="inner">
        <ul class="icons">
            {{ with .Site.Params.social.instagram }}<li><a target="_blank" href="{{.}}" class="icon brands style2 fa-instagram"><span class="label">Instagram</span></a></li>{{end}}
            {{ with .Site.Params.social.tiktok }}<li><a target="_blank" href="{{.}}" class="icon brands style2 fa-tiktok"><span class="label">TikTok</span></a></li>{{end}}
            {{ with .Site.Params.social.whatsapp }}<li><a target="_blank" href="{{.}}" class="icon brands style2 fa-whatsapp"><span class="label">WhatsApp</span></a></li>{{end}}
        </ul>
        <p>&copy; 2025 Box Obi <span class="footerspacer icon fa-diamond"></span>
            Jakarta, Indonesia <span class="footerspacer icon fa-diamond"></span>
            Follow us @boxobi.id</p>
</div>
</footer>

<!-- FontAwesome JS -->
{{ range .Site.Params.asset.fontawesome_js -}}
    <script type="text/javascript" src="{{ . | absURL }}"></script>
{{- end }}